<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Home</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row ">
            <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">  
          <a class="navbar-brand brand-logo" href="{{path('app_reservation')}}"> <span class="input-group-addon"><i class="mdi mdi-format-text" style="font-size:30px;color:blue"></i>H Business</span>
          </a>
          <a class="navbar-brand brand-logo-mini" href="{{path('app_reservation')}}"> <span class="input-group-addon"><i class="mdi mdi-format-text" style="font-size:30px;color:blue"></i>H Business</span>
          </a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-sort-variant"></span>
          </button>
        </div>  
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end bg-danger">
        
        <ul class="navbar-nav navbar-nav-right">
         <li class="nav-item ">
            <form class="navbar-nav col-md-12" action="{{path('home')}}" method="POST">
         
                <div class="input-group rounded-pill ">
                    <input type="text" class="form-control" placeholder="Entrer Numero de Réservation" name="search">
                    <button type="submit" class="navbar-toggler navbar-toggler align-self-center"  data-toggle="minimize">
                        <span class="mdi mdi-magnify input-group-text "></span>
                      </button>
                </div>
      
           </form>
         </li>
         <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle text-primary"  href="#" data-toggle="dropdown" id="profileDropdown">
              Profil
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="mdi mdi-settings text-primary"></i>
                Settings
              </a>
              <a class="dropdown-item" href="{{path('app_logout')}}" >
                <i class="mdi mdi-logout text-primary"></i>
                Logout
              </a>
            </div>
          </li>
         
          <li class="nav-item ">
            <a class="nav-link count-indicator  d-flex align-items-center justify-content-center btn" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="mdi mdi-account mx-0 text-primary"></i>
              <span class="count"></span>
            </a>
          </li>
         
          
          
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#home.html.twig">
              <i class="mdi mdi-seat-recline-extra"></i>
              <span class="menu-title">Passagers</span>
            </a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="mdi mdi-account-multiple"></i>
              <span class="menu-title">Agents</span>
            </a>
          </li>
          
          
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-6 grid-margin">
              <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                  <div class="mr-md-3 mr-xl-5">
                    <h2>Passagers</h2>
                    <p class="mb-md-0 text-dark">Date</p>
                    <input  name="date" type="date" required="" class="col-sm-15 p-2 m-2 bg-light border">

                  </div>
                  
                </div>
              
              </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-10 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body dashboard-tabs p-0">
                      <ul class="nav nav-tabs px-4" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Départs</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="sales-tab" data-toggle="tab" href="#sales" role="tab" aria-controls="sales" aria-selected="false">Transits</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="purchases-tab" data-toggle="tab" href="#purchases" role="tab" aria-controls="purchases" aria-selected="false">Arrivées</a>
                        </li>
                      </ul>
                    </div>
                </div>
            </div>
           
         
          
         
        </div>
        <div class="row ">
            <div class="tab-content  row mx-auto">
              <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                <table class="table table-light table-hover " id="tb">
                 
                  <thead>
                    <tr>
                      <th scope="col" class="text-danger">
                        <a type="button" onclick="checkAll()">Cocher tout</a>
                      </th>
                      <th scope="col" class="text-danger">Nº de réservation</th>
                      <th scope="col" class="text-danger">Date et Heure</th>
                      <th scope="col" class="text-danger">Compagnie</th>
                      <th scope="col" class="text-danger">Nom & Prenom</th>
                      <th scope="col" class="text-danger">Etat</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if search==0 %}
                    {% for i in donnee %}
                    <tr>
                      <th scope="row">
                        <input type="checkbox" class="" value="" id="reserve"  name="reserve" onclick="GetSelected()">
                      </th>
                      <td >{{i.id}}</td>
                      <td>{{i.date}} / {{i.heure}}</td>
                      <td>{{i.compagnie}}</td>
                      <td>{{i.nom}}  {{i.prenom}}</td>
                      <td>Enregistrement</td>
                    </tr>
                    {% endfor %}
                    <div class="pagination ">{{knp_pagination_render(donnee) }}</div>
                    {% else %}
                    {% for i in donneeS %}
                    <tr>
                      <th scope="row">
                        <input type="checkbox" class="" value="" id="reserve"  name="reserve" onclick="GetSelected()">
                      </th>
                      <td >{{i.id}}</td>
                      <td>{{i.date}} / {{i.heure}}</td>
                      <td>{{i.compagnie}}</td>
                      <td>{{i.nom}}  {{i.prenom}}</td>
                      <td>Enregistrement</td>
                    </tr>
                    {% endfor %}
                     {% endif %}
                   
                  </tbody>
                
              </table>
             
              </div>
              <div class="tab-pane fade" id="sales" role="tabpanel" aria-labelledby="sales-tab">
                <table class="table table-primary table-hover " id="tb">
                 
                  <thead>
                    <tr>
                      <th scope="col" class="text-danger">
                        <a type="button" onclick="checkAll()">Cocher tout</a>
                      </th>
                      <th scope="col" class="text-danger">Nº de réservation</th>
                      <th scope="col" class="text-danger">Date et Heure</th>
                      <th scope="col" class="text-danger">Compagnie</th>
                      <th scope="col" class="text-danger">Nom & Prenom</th>
                      <th scope="col" class="text-danger">Etat</th>
                    </tr>
                  </thead>
                  <tbody>
                   
                    {% if search==0 %}
                    {% for i in donnee %}
                    <tr>
                      <th scope="row">
                        <input type="checkbox" class="" value="" id="reserve"  name="reserve" onclick="GetSelected()">
                      </th>
                      <td >{{i.id}}</td>
                      <td>{{i.date}} / {{i.heure}}</td>
                      <td>{{i.compagnie}}</td>
                      <td>{{i.nom}}  {{i.prenom}}</td>
                      <td>Enregistrement</td>
                    </tr>
                    {% endfor %}
                    <div class="pagination ">{{knp_pagination_render(donnee) }}</div>
                    {% else %}
                    {% for i in donneeS %}
                    <tr>
                      <th scope="row">
                        <input type="checkbox" class="" value="" id="reserve"  name="reserve" onclick="GetSelected()">
                      </th>
                      <td >{{i.id}}</td>
                      <td>{{i.date}} / {{i.heure}}</td>
                      <td>{{i.compagnie}}</td>
                      <td>{{i.nom}}  {{i.prenom}}</td>
                      <td>Enregistrement</td>
                    </tr>
                    {% endfor %}
                     {% endif %}
                   
                  </tbody>
                
              </table>
             
              </div>
              <div class="tab-pane fade" id="purchases" role="tabpanel" aria-labelledby="purchases-tab">
                <table class="table table-danger table-hover " id="tb">
                 
                  <thead>
                    <tr>
                      <th scope="col" class="text-danger">
                        <a type="button" onclick="checkAll()">Cocher tout</a>
                      </th>
                      <th scope="col" class="text-danger">Nº de réservation</th>
                      <th scope="col" class="text-danger">Date et Heure</th>
                      <th scope="col" class="text-danger">Compagnie</th>
                      <th scope="col" class="text-danger">Nom & Prenom</th>
                      <th scope="col" class="text-danger">Etat</th>
                    </tr>
                  </thead>
                  <tbody>
                   
                    {% if search==0 %}
                    {% for i in donnee %}
                    <tr>
                      <th scope="row">
                        <input type="checkbox" class="" value="" id="reserve"  name="reserve" onclick="GetSelected()">
                      </th>
                      <td >{{i.id}}</td>
                      <td>{{i.date}} / {{i.heure}}</td>
                      <td>{{i.compagnie}}</td>
                      <td>{{i.nom}}  {{i.prenom}}</td>
                      <td>Enregistrement</td>
                    </tr>
                    {% endfor %}
                    <div class="pagination ">{{knp_pagination_render(donnee) }}</div>
                    {% else %}
                    {% for i in donneeS %}
                    <tr>
                      <th scope="row">
                        <input type="checkbox" class="" value="" id="reserve"  name="reserve" onclick="GetSelected()">
                      </th>
                      <td >{{i.id}}</td>
                      <td>{{i.date}} / {{i.heure}}</td>
                      <td>{{i.compagnie}}</td>
                      <td>{{i.nom}}  {{i.prenom}}</td>
                      <td>Enregistrement</td>
                    </tr>
                    {% endfor %}
                     {% endif %}
                   
                  </tbody>
                
              </table>
              
              </div>
              
            </div>
            
          </div>
         
        </div>
        
      </div>
    </div>
  </div>
       
        
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="vendors/chart.js/Chart.min.js"></script>
  <script src="vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/dashboard.js"></script>
  <script src="js/data-table.js"></script>
  <script src="js/jquery.dataTables.js"></script>
  <script src="js/dataTables.bootstrap4.js"></script>
  
  <!-- End custom js for this page-->

  <script type="text/javascript">
    // Select all check boxes : Setting the checked property to true in checkAll() function
      function checkAll(){
        var items = document.getElementsByName('reserve');
          for (var i = 0; i < items.length; i++) {
              if (items[i].type == 'checkbox')
                  items[i].checked = true;
          }
      }
  
    </script>
    <script type="text/javascript">
      function GetSelected() {
          //Reference the Table.
          var grid = document.getElementById("tb");
   
          //Reference the CheckBoxes in Table.
          var checkBoxes = grid.getElementsByTagName("INPUT");
          var message1 = " Nº de réservation :";
          var message2 = " Date & Heure :";
          var message3 = " Compagnie :";
          var message4 = " Nom & Prenom :";
          var message5 = " Etat :";
          var message ="Information Sur Réservation \n";
         
          //Loop through the CheckBoxes.
          for (var i = 0; i < checkBoxes.length; i++) {
              if (checkBoxes[i].checked) {
                  var row = checkBoxes[i].parentNode.parentNode;
                  info1 = row.cells[1].innerHTML;
                  info2 = row.cells[2].innerHTML;
                  info3 = row.cells[3].innerHTML;
                  info4 = row.cells[4].innerHTML;
                  info5 = row.cells[5].innerHTML;
                  message+=message1+info1+"\n"+message2+info2+"\n"+message3+info3+"\n"+message4+info4+"\n"+message5+info5 +"\n";
                  
                  
                  
                  
              }
          }
   
          //Display selected Row data in Alert Box.
         
          alert(message);
      }
  </script>
</body>

</html>

